
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="jumbotron">
  <div class="container">
    <span class="glyphicon glyphicon-list-alt"></span>
    <h2>Calendar</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="box">
        <input type="text" placeholder="username" formControlName="username">
        <input type="password" placeholder="password" formControlName="password">
        <div class="error-message" *ngIf="loginError">
          Invalid username or password!
        </div>
        <button type="submit" class="btn btn-default full-width" [disabled]="!loginForm.valid">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>
    </form>
  </div>
</div>



